@charset "utf-8";
@import "hbVariables";
@import "hbReset";
@import "hbAnimated";
$ff_SimHei: Arial,Verdana,Tahoma,'Hiragino Sans GB',SimHei,SimSun,sans-serif;
$gkk_color: #9692ff;
$pxy_color: #16c2af;







